@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --color-primary: #1A73E8;
    --color-secondary: #F9AB00;
    --color-accent: #34A853;
    --color-background: #FFFFFF;
    --logo-url: url('/src/assets/logo.png');
    /* Brand color palette */
    --brand-primary: #2E5767;
    --brand-accent: #746A9F;
    --brand-neutral: #747474;
    --brand-bg: #E6E5E8;
}


/* Hide scrollbars globally */

html,
body,
* {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
*::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}